<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission
        android:name="android.permission.CALL_PHONE"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/img_logo_fin_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/img_logo_fin"
        android:supportsRtl="true"
        android:theme="@style/Theme.YourPlace"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".catalogo_interfaz_negocio"
            android:exported="false" />
        <activity
            android:name=".selPromocion"
            android:exported="false" />
        <activity
            android:name=".perfil_usuario"
            android:exported="false" />
        <activity
            android:name=".ver_promociones"
            android:exported="false" />
        <activity
            android:name=".contribuye_opinion"
            android:exported="false" />
        <activity
            android:name=".cascaron_negocio_interfazNegocio"
            android:exported="false" />
        <activity
            android:name=".ver_opiniones"
            android:exported="false" />
        <activity
            android:name=".perfilLocales"
            android:exported="false" />
        <activity
            android:name=".confirmarDatosDeCita"
            android:exported="false" />
        <activity
            android:name=".publicar_anuncio"
            android:exported="false" />
        <activity
            android:name=".generar"
            android:exported="false" />
        <activity
            android:name=".catalogo"
            android:exported="false" />
        <activity
            android:name=".perfil_barberia"
            android:exported="false" />
        <activity
            android:name=".interfazNegocio"
            android:exported="false" />
        <activity
            android:name=".agendar_cita"
            android:exported="false" />
        <activity
            android:name=".lugares_favoritos"
            android:exported="false" />
        <activity
            android:name=".interfazUsuario"
            android:exported="false" />
        <activity
            android:name=".seleccionaUsuario"
            android:exported="false" />
        <activity
            android:name=".IniciarSesion"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Crear_Cuenta"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>